.cont {
    height: 800ps;
    margin: 0 10px;
}

h1 {
    font-size: 50px;
    font-weight: 1200;
    color: rgb(119, 76, 40);
}

h3 {
    font-size: 35px;
    color: rgb(77, 48, 24);
}

p {
    font-size: 25px;
    text-indent: 2em;
}